matplotlib~=3.2
nltk~=3.4
numpy~=1.18
python-dateutil~=2.8
regex~=2020.4.4
requests~=2.23
#scikit-learn~=0.22.2
scipy~=1.4
sentencepiece~=0.1.85
six~=1.14
sklearn~=0.0
tensorboard~=2.1
tensorflow~=2.1
tensorflow-estimator~=2.1
#tokenizers~=0.5
torch~=1.4
torchvision~=0.5
tqdm~=4.45
#transformers~=2.8
